
# emacs ignorance
*~

# local environment config
/APACHECTL.sh


# Otter Server builds.  Might be versioned on a production branch?
/cgi-bin/otter/[0-9][0-9]/
/cgi-bin/otter/[0-9][0-9][0-9]/
/lib/otter/[0-9][0-9]/
/lib/otter/[0-9][0-9][0-9]/

# and again for feature branches
/cgi-bin/otter/[0-9][0-9]_*/
/cgi-bin/otter/[0-9][0-9][0-9]_*/
/lib/otter/[0-9][0-9]_*/
/lib/otter/[0-9][0-9][0-9]_*/

# should probably ignore symlinked or single-file-410-gone Otter Servers
